html{
  /* background-image: linear-gradient(to bottom right, #b1dec8, #dfbfb7); */
  background-image: url("img/background_nella.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 37vw;
  max-height: 47vh;
}

img:hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.bio{
  position: absolute;
  left: -5vw;
  top: -3vh;
}

.influence{
  position: absolute;
  right: 5vw;
  top: -3vh;
}

.achievements{
  position: absolute;
  left: -5vw;
  bottom: -2vh;
}

.facts{
  position: absolute;
  right: 5vw;
  bottom: 3vh;
  max-width: 46vw !important;
  max-height: 53vh !important;
}
