.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.panel.align-top {
  align-items: flex-start;
}

/* SCROLL DOWN */
.scroll-down {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  overflow: scroll;
  font: "Alata";
}
.scroll-down .arrow {
  position: relative;
  top: -4px;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

.arrow-right {
  transform: rotate(-90deg);
  position: relative;
  top: -4px;
  margin: 1rem auto;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KPHBhdGggZmlsbD0iYmxhY2siIGQ9Ik00ODMuMiwxOTIuMmMtMjAuNS0yMC41LTUzLjUtMjAuOC03My43LTAuNkwyNTcsMzQ0LjFMMTA0LjUsMTkxLjZjLTIwLjItMjAuMi01My4yLTE5LjktNzMuNywwLjYKCWMtMjAuNSwyMC41LTIwLjgsNTMuNS0wLjYsNzMuN2wxOTAsMTkwYzEwLjEsMTAuMSwyMy40LDE1LjEsMzYuOCwxNWMxMy4zLDAuMSwyNi43LTQuOSwzNi44LTE1bDE5MC0xOTAKCUM1MDMuOSwyNDUuNyw1MDMuNywyMTIuNyw0ODMuMiwxOTIuMnoiLz4KPC9zdmc+);
  background-size: contain;
}

/*top menu*/
#primary_nav_wrap
{
  margin-top:0px;
  height: 2.7vw;
  background: #2C2626;
  z-index: 10;
}

#primary_nav_wrap ul
{
  z-index: 10;
  list-style:none;
  position:absolute;
  float:left;
  margin:0;
  padding:0;
  left: 60%;
}

#primary_nav_wrap ul a
{
  z-index: 10;
  display:block;
  color:#FFFFFF;
  text-decoration:none;
  font-weight:100;
  font-size:1.4vw;
  line-height:32px;
  padding:0 17px;
  font-family: 'Alata';
}

#primary_nav_wrap ul li
{
  position:relative;
  float:left;
  margin:0;
  padding:0
}

#primary_nav_wrap ul li.current-menu-item
{
  text-decoration: underline;
}

#primary_nav_wrap ul li:hover
{
  text-decoration: underline;
}

#primary_nav_wrap ul ul
{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#2C2626;
  padding:0
}

#primary_nav_wrap ul ul li
{
  float:none;
  width:200px
}

#primary_nav_wrap ul ul a
{
  line-height:120%;
  padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
  top:0;
  left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
  display:block;
}

@media screen and (max-width: 769px) {
  #primary_nav_wrap
  {
    margin-top:0px;
    height: 7vw;
    background: #2C2626;
  }

  #primary_nav_wrap ul
  {
    left: 0%;
  }

  #primary_nav_wrap ul a
  {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 415px) {
  #primary_nav_wrap
  {
    margin-top:0px;
    height: 12vw;
    background: #2C2626;
  }
}

/* screen size desktop */
body{
  position: relative;
  overflow-y: scroll;
  background: #5B5B5B;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 900px){
  #meAndParentsPhone{
    height: 1px;
    visibility: hidden;
  }
  /* mendparents 1 */
  #meAndParents{
    position: relative;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
    z-index: -10;
    background: linear-gradient(0deg, rgba(217, 208, 176, 0.16), rgba(217, 208, 176, 0.16));
  }

  .line {
    width: 100%;
    /* max-width: 150%; */
    height: 8px;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,1);
  }

  .AboutMe {
    float: none;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0%;
    width: 70%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 130vh;
  }

  /* About Me */
  .AboutMe h5{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    display: flex;
    align-items: right;
    align-self: right;
    text-align: left;
    color: #FFFFFF;
    left: 90vw;
  }
  .AboutMe img:nth-child(odd){
    float: right;
    width: 100%
    padding: 10px;
    width: 30vw;
  }
  .AboutMe img:nth-child(even){
    float: left;
    width: 100%
    padding: 10px;
    width: 30vw;
  }

  .AboutMe p:nth-child(odd){
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    display: flex;
    align-items: left;
    align-self: left;
    text-align: left;
    color: #FFFFFF;
    left: -60vw;
  }

  .AboutMe p:nth-child(even){
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    display: flex;
    align-items: right;
    align-self: right;
    text-align: right;
    color: #FFFFFF;
    left: 60vw;
  }

  .AboutMe h1{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 12px;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
  }

  #two{
    background-color: #C4C4C4;
    width: 100vw;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .WeirdHobbies h5{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    display: flex;
    align-items: right;
    align-self: right;
    text-align: right;
    color: #151314;
    left: 100vw;
    width: 50vw;
    padding-top: 5vh;
  }

  .WeirdHobbies #img4{
    float: right;
    width: 100%
    padding: 10px;
    width: 30vw;
    margin-right: 10vw;
  }
  .WeirdHobbies #img3{
    float: left;
    width: 100%
    padding: 10px;
    width: 30vw;
    margin-left: 10vw;
  }

  .WeirdHobbies p{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 2vw;
    display: flex;
    align-items: left;
    align-self: left;
    text-align: left;
    color: #151314;
    left: -90vw;
    width: 50vw;
  }
}

@media screen and (max-width: 900px) {
  body{
    width:100vw;
    height: auto;
  }
  /* mendparents 2 */
  #meAndParentsPhone{
    visibility: visible;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: -3vw;
    z-index: -10;
    background: linear-gradient(0deg, rgba(217, 208, 176, 0.16), rgba(217, 208, 176, 0.16));
  }

  /* mendparents 1 */
  #meAndParents{
    height: 0px;
    visibility: hidden;
  }

  .line {
    width: 100%;
    /* max-width: 150%; */
    height: 8px;
    margin: 0 0 10px 0;
    position: relative;
    display: inline-block;
    background-color: rgba(255,255,255,1);
  }

  .AboutMe {
    float: none;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0%;
    margin-top: 0px;
    width: 70%;
    height: 30%;
  }

  /* About Me */
  .AboutMe h5{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    margin: 10px;
    }

  .AboutMe img{
    float: center !important;
    padding-left: 0px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70% !important;
  }

  .AboutMe p{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    margin: 10px;
  }

  .line{
    visibility: hidden !important;
    height: 1px;
  }

  .AboutMe h1{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    line-height: 106px;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 4vh;
  }

  #two{
    background-color: #C4C4C4;
    width: 100vw;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .WeirdHobbies h5{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #151314;
    padding-top: 2vh;
  }

  .WeirdHobbies #img4{
    float: center !important;
    padding-left: 0px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70% !important;
  }
  .WeirdHobbies #img3{
    float: center !important;
    padding-left: 0px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70% !important;
  }

  .WeirdHobbies p{
    position: relative;
    font-family: "Alata";
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #151314;
  }

}
/*footer*/
.home-contact {
  font-family: 'Alata';
  padding: 0px;
  display: block;
  width: 100%;
  color: white;
  background: #2C2626;
  column-count: 3;
  height: 120px;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.home-contact h1 {
  top: auto;
  position: relative;
  left: 30%;
  font-size: 20px;
}

.contact-icons{
  height: 2vw;
  align-self: center;
  border-radius: 5px;
}

.home-contact nav ul {
  list-style: none;
  position: absolute;
  top: auto;
}

.home-contact nav ul li {
  padding: 6px;
}

.home-contact nav ul li:hover {
  background: #4D4A4A;
}

ul.col-1 {
  left: 37%;
}

ul.col-2 {
  left: 42%;
}

ul.col-3 {
  left: 47%;
}

ul.col-4 {
  left: 52%;
}

ul.col-5 {
  left: 57%;
}

@media screen and (max-width: 800px) {
  .home-contact {
    padding: 20px;
    column-count: 1;
    height: 40vw;
    font-size: 2vw;
  }

  .home-contact a {
    padding-bottom: 2vw;
    display: inline-block;
    text-decoration: none;
  }

  .contact-icons{
    height: 5vw;
    width: 5vw;
    align-self: center;
  }

  ul.col-1 {
    left: 17%;
  }

  ul.col-2 {
    left: 27%;
  }

  ul.col-3 {
    left: 37%;
  }

  ul.col-4 {
    left: 47%;
  }

  ul.col-5 {
    left: 57%;
  }

  .home-contact nav ul {
    top: auto;
    padding-top: 10vw;
  }

 }
