body {
  margin: 0;
  font-family: "Gilroy-Regular", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  font-family: "Gilroy-Bold", sans-serif;
}

header .logo {
  font-family: "Gilroy-Bold", sans-serif;

  /* font-family: "Playfair Display", sans-serif; */
  display: block;
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
  text-decoration: none;
}

nav {
  font-family: "Gilroy-Regular", sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
  position: relative;
  display: inline-block;
}

nav a {
  text-decoration: none;
  transition: background 0.3s;
  padding: 20px;
}

.has-dropdown:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* background-color: rgb(0, 0, 0); */
  width: 100%;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown li {
  display: block;
}

.dropdown a {
  display: block;
  padding: 10px;
}

#hero {
  padding: 100px 0;
  text-align: center;
}

#hero h1 {
  font-size: 36px;
  margin: 0 0 20px 0;
}

#hero p {
  font-size: 18px;
  margin: 0 0 40px 0;
  font-family: "Gilroy-Light", sans-serif;
}

#hero .button {
  transition: background 0.3s;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}

#by-the-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.number {
  padding: 30px 0px 30px 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 600px) {
  .number {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .number {
    width: 33%;
  }
}

.number h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.number p {
  font-size: 1.5rem;
}

main {
  width: 100%;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: calc(100vw / 1.7777);
}

#section1 {
  height: 500px !important;
  background-image: url("fightclub.jpeg");
}

#section2 h2 {
  padding: 0px;
}
#section2 {
  margin: 0px 40px 0px 40px;
  height: fit-content;
}

#section3 {
  height: fit-content;
}

#section4 {
  height: fit-content;
}

#section5 {
  height: fit-content;
}

#section6 {
  height: fit-content;
}

#section7 {
  height: fit-content;
}

#section8 {
  height: fit-content;
  padding: 40px;
}

#section8 h2 {
  padding: 0px;
}

section {
  height: fit-content;
  padding: 20px;
}

h1,
h2 {
  font-size: 30px;
  padding-left: 40px;
  font-family: "Gilroy-Bold", sans-serif;
}

#work {
  padding: 0px;
}

.work-section {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-item {
  margin: 20px;
  position: relative;
  overflow: scroll;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.work-item a {
  text-decoration: none !important;
}

.work-item img {
  width: 100%;
  height: auto;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.work-item p {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  margin: 0;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.work-section img:hover {
  opacity: 0.3;
}

.work-section p:hover {
  opacity: 0.3;
}

.work-section img:hover + .middle {
  opacity: 1;
}

.text {
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 15%;
}

#social-ethics {
  margin: 20px;
}

.activity {
  margin: 10px 0;
}

.activity h3 {
  font-size: 18px;
  font-family: "Gilroy-bold", sans-serif;
  font-weight: bold;
  margin: 10px 0;
}

.activity p {
  font-size: 16px;
  margin: 5px 0;
}

@media (max-width: 999px) {
  .work-section {
    flex-direction: column;
  }

  .work-item {
    width: 100%;
    margin-left: 0px;
  }
}

@media (min-width: 1000px) {
  .work-section {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .work-item {
    width: calc(50% - 40px);
  }
}

footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
}

.contact-me {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.contact-me a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

.contact-me a:hover {
  color: #eee;
}

/* colors */

body {
  color: rgb(0, 0, 0);
  background-color: white;
}

header {
  background-color: white;
  color: black;
}

header .logo {
  color: black;
}

nav a:hover {
  background-color: #fed141;
  color: rgb(255, 255, 255);
}

nav {
  background-color: white;
}

nav li {
  background-color: white;
}

nav a {
  color: black;
}

#hero {
  color: #fff;
}

#hero .button {
  background-color: #fff;
  color: rgb(0, 0, 0);
}

#hero .button:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.number p {
  color: rgb(113, 113, 113);
}

.activity h3 {
  color: #fed141;
}
/* button */
.text {
  background-color: #000000;
  color: white;
}

#by-the-numbers h2 {
  color: white !important;
}

h2 {
  color: rgb(0, 0, 0);
}

#section3,
#section5,
#section7 {
  background-color: rgb(113, 113, 113);
}

#section2,
#section4,
#section6,
#section8 {
  background-color: white;
}

#section2 h2 {
  margin: 0px !important;
}

.work-item {
  background-color: rgb(39, 39, 39);
}

#work {
  background-color: rgb(200, 221, 255);
}

.activity a {
  color: #606060 !important;
}

.work-item p {
  color: #fff;
}

footer {
  background-color: rgb(0, 0, 0);
}
