:root {
  --boxes-color: #00274d;
  --boxes-color-dark: #000913;
  --boxes-border: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Verdana", Arial, sans-serif, Helvetica;
  cursor: crosshair;
  background-image: url("https://24.media.tumblr.com/007183c1d6184426be7aa22b4dab1249/tumblr_mrhdolq79Z1rsuta1o1_500.gif");
  background-color: black;
  font-size: 8pt; /* Changed from 8pt to use rem for responsiveness */
  margin: 0;
  color: var(--boxes-border) !important;
}

.footer {
  display: grid;
  padding-top: 10px;
  height: auto;
  background-color: var(--boxes-color);
  border: 6px groove var(--boxes-border);
}

@media (max-width: 1000px) {
  .footer {
    grid-template-columns: 1fr; /* All items in a single column, i.e., vertical layout */
  }
}

.footer a {
  font-size: 0.8rem; /* Responsive font size */
}

a {
  font-weight: bold;
  text-decoration: none;
}

a:link {
  color: #749;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #749;
}

h2 {
  font-size: 9pt;
  margin: 0;
  font-weight: bold;
}

p {
  line-height: 1.4;
}

/*
========================================
Master Container
========================================
*/

.master-container {
  margin: auto;
  width: 80%; /* Changed from 800px to percentage */
  max-width: 800px; /* Ensures it doesn't grow beyond 800px */
}

@media (max-width: 1000px) {
  .master-container {
    width: 95%; /* More width on smaller screens */
  }
  /* 
    body {
        font-size: 0.8rem; Smaller text on smaller devices
    } */

  .comment-wall,
  footer {
    width: 100%; /* Full width on small screens */
  }
}

/*
========================================
Sunlight
========================================
*/

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -35%;
  }
  80%,
  90% {
    top: 70%;
  }
  100% {
    top: 65%;
  }
}

@-webkit-keyframes snowflakes-fade {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  15% {
    opacity: 0.5;
    transform: translateX(40px);
  }
  70% {
    opacity: 0.7;
    transform: translateX(0);
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -35%;
  }
  80%,
  90% {
    top: 70%;
  }
  100% {
    top: 65%;
  }
}

@keyframes snowflakes-fade {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  15% {
    opacity: 0.9;
    transform: translateX(40px);
  }
  70% {
    opacity: 0.8;
    transform: translateX(0);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
.snowflake {
  position: fixed;
  pointer-events: none;
  left: 18%;
  top: -20%;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-fade;
  -webkit-animation-duration: 15s, 15s;
  -webkit-animation-timing-function: linear, ease-in-out, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite, infinite;
  -webkit-animation-play-state: running, running, running;
  -webkit-animation-delay: 15s;
  animation-name: snowflakes-fall, snowflakes-fade;
  animation-duration: 15s, 15s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
  animation-delay: 5s;
}

.snowflake:nth-of-type(0) {
  left: 15%;
}
.snowflake:nth-of-type(1) {
  left: 78%;
}
/*
========================================
Main Header
========================================
*/
.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 151px;
  color: var(--boxes-color);
  padding-top: 1%;
  margin-top: 5%;
}

.main-header ul {
  list-style-type: none;
}

.main-header a:link {
  color: #749;
  font-weight: normal;
}

.main-header a:visited {
  color: #617830;
}

/*
========================================
Navigation Bar
========================================
*/

.navbar {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensure contents are centered */
  background-color: var(--boxes-color);
  height: 26px;
  width: 90%; /* Set width to 90% of its parent container */
  max-width: 850px; /* Ensures it doesn't grow beyond 850px */
  border: 6px groove var(--boxes-border);
  padding-top: 3%;
  padding-bottom: 3%;
  margin: 1% auto; /* Centers navbar horizontally */
}

.navbar ul {
  display: flex;
  width: 100%; /* Full width of its parent (.navbar) */
  justify-content: space-around; /* Evenly space the items */
  list-style-type: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin to ensure proper alignment */
}

.navbar li {
  flex-grow: 1; /* Allows each li to grow and fill the space */
  text-align: center; /* Centers the text/icons within each li */
}

.navbar li::after {
  content: " "; /* Adjust content if needed, keeping space management */
  margin: 0.33rem;
  padding: 3%;
}

.navbar li:last-child::after {
  content: ""; /* Removes the after content for the last item */
}

.navbar a:hover {
  color: rgb(124, 124, 124);
}

/*
========================================
Page Content Container
========================================
*/

.page-content-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Proportional columns */
  grid-column-gap: 50px; /* Space between columns */
  grid-template-areas: "sidebar main"; /* Defining grid areas */
  justify-content: center; /* Center grid columns */
  max-width: 90%; /* Max width of grid container */
  margin: auto; /* Centering the grid container horizontally */
}

/* Adjusting the layout for smaller screens */
@media (max-width: 1000px) {
  .page-content-container {
    grid-template-columns: 1fr; /* One column taking the full width */
    grid-template-areas:
      "sidebar"
      "main";
    grid-column-gap: 0; /* Remove gap on smaller screens */
  }
}

/*
========================================
Profile Sidebar Column
========================================
*/
.profile-sidebar {
  grid-area: sidebar;
  width: 300px; /* Fixed width for larger screens */
}

h1 {
  color: var(--boxes-border);
  font-size: 12.25pt;
  font-weight: bold;
}

@keyframes blink {
  0%,
  100% {
    color: rgb(127, 182, 234);
  }
  50% {
    color: var(--boxes-color);
  }
}

.profile-name {
  margin-top: 8%;
  border: 6px groove var(--boxes-border);
  background-color: var(--boxes-color);
}

.profile-name h1 {
  padding: 5%;
  animation: blink;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  text-align: center;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1000px) {
  .profile-sidebar {
    width: 100%; /* Use full width to fit the screen */
    margin: 0 auto; /* Center horizontally */
    box-sizing: border-box; /* Include padding and borders in the width calculation */
  }
}

/*
========================================
Profile Picture Container
========================================
*/
.profile-picture-container {
  display: grid;
  grid-template-columns: 170px 115px;
  grid-template-rows: 176px;
  margin-bottom: 12px;
  border: 6px groove var(--boxes-border);
  background-color: var(--boxes-color);
  padding: 3%;
  margin-top: 8%;
  width: 300px;
}

.profile-picture-container p {
  margin: 0;
}

.profile-pic {
  grid-area: 1/1;
  margin-top: 10px;
  margin-bottom: 10px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (max-width: 1000px) {
  .personal-msg,
  .gender-age,
  .last-login {
    display: none !important; /* Hide these elements on screens smaller than 1000px */
  }
}

.personal-msg {
  grid-area: 1/2;
  margin: 0;
}

.gender-age {
  grid-area: 1/2;
}

.gender-age li:first-child {
  margin-top: 3%;
}

.last-login {
  grid-area: 1/2;
  align-self: end;
}

.last-login li:last-child {
  margin-bottom: 0px;
}

/*
========================================
Contact Box
========================================
*/
.contact-box {
  border: 2px solid var(--boxes-border-dark);
  height: auto;
  width: 300px;
  border: 6px groove var(--boxes-border);
  background-color: var(--boxes-color);
  padding: 1%;
  margin-top: 8%;
}

.contact-images {
  display: grid;
  grid-template-columns: 25px 25px 25px 25px;
  grid-column-gap: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
========================================
MySpace URL
========================================
*/
.myspace-url-box {
  border: 1px solid var(--boxes-border-dark);
  height: auto;
  margin-top: 8%;
  border: 6px groove var(--boxes-border);
  background-color: var(--boxes-color);
  padding: 3%;
}

.myspace-url-box h3,
.myspace-url-box p {
  margin: 0;
  padding: 0;
}

.myspace-url-box h3 {
  font-size: 8pt;
  padding-left: 2px;
}

.myspace-url-box p {
  /* padding-left: 6px; */
}

/*
========================================
Sidebar Table Class
========================================
*/
.sidebar-table {
  border: 2px solid var(--boxes-border-dark);
  display: table;
  border-collapse: separate;
  border-spacing: 3px;
  border: 6px groove var(--boxes-border);
  background-color: var(--boxes-color);
  padding: 3%;
  margin-top: 8%;
}

.sidebar-table-header {
  vertical-align: top;
  text-align: left;
  width: 107px;
  background-color: var(--boxes-color-dark);
  color: #617830;
  padding: 3px;
  font-weight: bold;
  font-size: 8pt;
}

.sidebar-table-data {
  width: 184px;
  background-color: var(--boxes-border);
  padding: 3px;
}

@media (max-width: 1000px) {
  .profile-sidebar,
  .profile-picture-container,
  .contact-box,
  .myspace-url-box,
  .sidebar-table {
    width: 100%; /* Use full width to fit the screen */
    margin: 0 auto; /* Center horizontally */
    box-sizing: border-box; /* Include padding and borders in the width calculation */
  }

  .profile-picture-container,
  .sidebar-table {
    display: grid;
    grid-template-columns: 1fr; /* Stack grid items vertically */
    justify-items: center; /* Center items horizontally within their grid areas */
  }

  .contact-images,
  .personal-msg,
  .gender-age,
  .last-login {
    justify-content: center; /* Center flex items if used, or grid items */
    text-align: center; /* Ensure text is centered for single elements */
  }

  .contact-box,
  .myspace-url-box {
    display: flex;
    flex-direction: column;
    align-items: center; /* Align items centrally in flex mode */
  }

  /* Centering contents of sidebar-table */
  .sidebar-table-header,
  .sidebar-table-data {
    display: block; /* Stack header and data vertically */
    width: auto; /* Allow each cell to expand to fit the content */
    text-align: center; /* Center text within each cell */
  }
}

/* =====================================
MUSIC BOX
========================================*/
#music-player {
  position: fixed;
  bottom: 3%;
  left: 1%;
  background-color: var(--boxes-color);
  width: 60px; /* Initial width */
  border: 6px groove var(--boxes-border);
  overflow: hidden; /* Added to keep the layout contained */
  transition: width 0.5s ease; /* Smooth transition for width */
}

#music-player img {
  display: block; /* Ensures the image is centered */
  margin: auto; /* Center align image horizontally */
  user-select: none;
  -webkit-user-select: none; /* For Safari */
}

#music-player:hover {
  width: 510px; /* Expand width on hover */
  z-index: 9999; /* Make sure it's above other content */
}

#music-player .hidden-music {
  display: none; /* Initially hidden */
}

#music-player:hover .hidden-music {
  display: block; /* Show on hover */
}

#music-player video {
  display: none; /* Hide the video by default */
}

#music-player:hover video {
  display: block; /* Show video on hover */
  width: 100%; /* Full width inside the expanded section */
}

/*
========================================
Interests
========================================
*/
.interests p {
  margin-top: 0;
}

.interests p:only-child,
.interests p:last-child {
  margin-bottom: 0;
}

.interests table {
  margin-bottom: 13px;
}

/*
========================================
Details
========================================
*/
.details table {
  margin-bottom: 22px;
}

/*
========================================
Main Column
========================================
*/
main {
  grid-area: main;
}

/*
========================================
User Network
========================================
*/
.user-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 75px;
  background-color: var(--boxes-color);
  margin-top: 5%;
  border: 6px groove #749;
}

.user-network h2 {
  font-size: 12pt;
}

/*
========================================
Blog
========================================
*/
.blog {
  display: grid;
  grid-auto-rows: 15px;
  flex-direction: column;
  background-color: var(--boxes-color);
  margin-top: 5%;
  border: 6px groove var(--boxes-border);
  padding: 3%;
  width: 500px;
}

.blog p {
  margin-top: 3px;
}

/*
========================================
Blurbs
========================================
*/

.blurbs {
  margin-top: 5%;
}

.blurbs img {
  width: 500px;
  height: auto;
  border: 6px groove var(--boxes-border);
}

.main-section-h2 {
  color: var(--boxes-color);
  margin-left: 20px;
}

/*
========================================
Friend Space
========================================
*/
.friends {
  margin-top: 2%;
  width: 500px;
}

.friends p:nth-of-type(1) {
  background-color: var(--boxes-color);
  margin-top: 3%;
  border: 6px groove var(--boxes-border);
  width: 500px;
  padding: 3%;
}

.focus-highlight {
  color: #749;
  font-weight: normal;
  font-size: 10pt;
}

.friend-pic-container {
  display: grid;
  grid-template-columns: repeat(3, 148px);
  grid-template-rows: 200px;
  margin-top: 3%;
}

/* .friend-pic-container figure {
  margin: 0;
} */

.friend-pic-container figcaption {
  text-align: center;
  margin-top: 5%;
  padding-top: 5%;
}

.friend-pic-container img {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 10px;
}

.friends figcaption a {
  background-color: var(--boxes-color);
  color: white;
  border: 4px groove var(--boxes-border);
  padding: 2%;
}

/*
========================================
Comment Wall
========================================
*/

.comment-wall {
  background-color: var(--boxes-color);
  margin-top: 5%;
  margin-bottom: 5%;
  border: 6px groove var(--boxes-border);
  width: 500px;
  padding: 3%;
  margin-bottom: 5%;
  color: black;
}

.comment-wall .main-section-h2 {
  margin-bottom: 0;
}

#comment-counter {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 3px;
}

.comment-wall table {
  margin: auto;
  margin-bottom: 5px;
}

.comment-wall th {
  background-color: var(--boxes-color-dark);
  width: 158px;
  padding: 3px;
  vertical-align: top;
}

.comment-wall td {
  vertical-align: top;
  background-color: var(--boxes-border);
  width: 269px;
  padding: 3px 5px;
}

.comment-wall figcaption,
.comment-wall figure {
  margin: 0;
}

.comment-wall figcaption {
  margin-bottom: 1em;
  user-select: none;
}

.comment-wall figure {
  margin-bottom: 49.33px;
}

.comment-wall h3 {
  font-size: 10pt;
  margin: 0;
  margin-bottom: 1em;
}

.comment-wall p {
  font-weight: normal;
  text-align: left;
  margin: 0;
}

#add-comment {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*
========================================
Footer
========================================
*/

@media (max-width: 1000px) {
  footer {
    display: none !important; /* Hide the footer on screens smaller than 800px */
  }
}

footer {
  display: grid;
  grid-template-rows: 16px 39px;
  padding-top: 10px;
  height: 65px;
  width: 850px;
  background-color: #d2e190;
  margin-top, margin-bottom: 10%;
  border: 6px groove #b5cf49;
}

footer a {
  font-weight: normal;
  font-size: 8pt;
}

footer ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
  margin: 10px;
}

footer li:after {
  content: " | ";
  font-weight: normal;
  padding: 5px;
}

#last:after {
  content: none;
}

footer small {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  font-size: 8pt;
  font-weight: normal;
  color: #81a140;
}
