@import "compass/css3";

body {
  /*background: rgba(255,255,255,1);
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );*/
  background-color: #000000;
}
audio{
  visibility: hidden;
  height: 1px;
}
.bar {
  height: 100vh;
  width: 200px;
  background: #00bb00;
}

.app {
  text-align: center;
}

h1 {
  font-size: 2em;
  font-family: "Press Start 2P";
  text-shadow: 0px 0px 5px #00bb00;
  color: #00bb00;
}

.story-text {
  font-size: 0.8em;
  margin-top: 50px;
  font-family: "Press Start 2P";
  color: #00bb00;
  /*text-shadow: 0px 0px 2px #00bb00;*/
  animation: pulsegreen 2s ease-in-out infinite;
}

.path-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 0.8em;
  margin: 0 15px;
  margin-top: 3em;
  font-family: "Press Start 2P";
  font-weight: 300;
  color: #f2f251;
  text-shadow: 0px 0px 2px rgba(242, 242, 81, 0.5);
  outline: none;
  animation: pulseyellow 2s ease-in-out infinite;
}

@keyframes pulseyellow {
  0% {
    text-shadow: 0px 0px 2px rgba(242, 242, 81, 0.6);
  }
  50% {
    text-shadow: 0px 0px 4px #f2f251;
  }
  100% {
    text-shadow: 0px 0px 2px rgba(242, 242, 81, 0.6);
  }
}
@keyframes pulsegreen {
  0% {
    text-shadow: 0px 0px 2px rgba(0, 187, 0, 0.5);
  }
  50% {
    text-shadow: 0px 0px 4px #00bb00;
  }
  100% {
    text-shadow: 0px 0px 2px #00bb00;
  }
}


.glitch{
  color:white;
  font-size:100px;
  font-family: "VT323";
  position:relative;
  width:400px;
  margin:0 auto;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue;
  top:0;
  color:white;
  background:black;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 3s infinite linear alternate-reverse;
}

.line-1{
    position: relative;
    top: 50%;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}
