@import url(https://fonts.googleapis.com/css?family=Rosario);

@media screen and (max-width: 769px) {
  p{
    font-size: 5vw !important;
  }
}

@media screen and (max-width: 515px) {
  p{
    font-size: 3vw !important;
  }

  .container{
    height: 100%;
  }
}

p{
  font-family: 'Rosario' !important;
  font-size: 2vw;
  padding: 0.7vw;
  display:block;
  margin: auto;
  width: 90%;
  text-align: center !important;
  color: #F1EEF1;
}

h2{
  font-family: 'Rosario' !important;
  width: 100%;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0em;
  border-bottom: 3px solid #FFFFFF;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 3em;
  width: 100%;
}

body {
  background: transparent;
}

.blue {
  background-color: #0058B5;
}

.red {
  background-color: #850101;
}

.orange {
  background-color: #E8A956;
}

.green {
  background-color: #156F13;
}

.purple {
  background-color: #4C1D8F;
}

.relative {
  position: relative;
}

.height-inherit {
  height: inherit;
}

.grab {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.grab.grabbing,
.grabbing,
.grabbing .grab,
.gxRangeHandle:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}

.container {
  max-width: 1200px;
}

@media (min-width: 768px) {
  .container {
    width: 93%;
  }
}
.card-shuffle {
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 340px;
  width: 100%;
  overflow: hidden;
}

.card-shuffle__card {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 295px;
  transform: translateZ(0);
  transition: transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-shuffle__card-inner {
  border-radius: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.card-shuffle__card[data-position="0"] {
  z-index: 4;
}

.card-shuffle__card:nth-child(1) {
  transform: rotate(-1deg);
}

.card-shuffle__card[data-position="1"] {
  z-index: 3;
}

.card-shuffle__card:nth-child(2) {
  transform: rotate(1.5deg);
}

.card-shuffle__card[data-position="2"] {
  z-index: 2;
}

.card-shuffle__card:nth-child(3) {
  transform: rotate(-0.6deg);
}

.card-shuffle__card[data-position="3"] {
  z-index: 1;
}

.card-shuffle__card:nth-child(4) {
  transform: rotate(0.8deg);
}

.card-shuffle__card[data-position="4"] {
  z-index: 0;
}

.card-shuffle__card:nth-child(5) {
  transform: rotate(-1.5deg);
}

.card-shuffle__card[data-position="0"] {
  transition-duration: 0.15s;
}

.card-shuffle__card.card-shuffle__card--front {
  transform: rotate(0);
}

.card-shuffle__card.card-shuffle__card--to-bottom {
  z-index: 10;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.card-shuffle__card.card-shuffle--no-transition {
  transition-duration: 0ms;
}

@media (max-width: 568px) {
  .card-shuffle__card:nth-child(1) {
    transform: rotate(-2.4deg);
  }

  .card-shuffle__card:nth-child(2) {
    transform: rotate(2.5deg);
  }

  .card-shuffle__card:nth-child(3) {
    transform: rotate(-3deg);
  }

  .card-shuffle__card:nth-child(4) {
    transform: rotate(2.8deg);
  }

  .card-shuffle__card:nth-child(5) {
    transform: rotate(-2.5deg);
  }

  .card-shuffle__card.card-shuffle__card--front {
    transform: rotate(0);
  }
}
@media (max-width: 767px) {
  .card-shuffle__card.card-shuffle__card--off-deck-end {
    transform: translate(calc(100% - 30px), 0);
  }

  .card-shuffle__card.card-shuffle__card--off-deck-start {
    transform: translate(calc(-100% + 30px), 0);
  }
}
@media (min-width: 768px) {
  .card-shuffle__card.card-shuffle__card--off-deck-end {
    transform: translate(calc(93% - 30px), 0);
  }

  .card-shuffle__card.card-shuffle__card--off-deck-start {
    transform: translate(calc(-93% + 30px), 0);
  }
}
@media (min-width: 1290.3225806452px) {
  .card-shuffle__card.card-shuffle__card--off-deck-end {
    transform: translate(calc(1200px - 30px), 0);
  }

  .card-shuffle__card.card-shuffle__card--off-deck-start {
    transform: translate(calc(-1200px + 30px), 0);
  }
}
