section{
  display: box;
  padding-top: 50vh;
  padding-bottom: 50vh;
  font-family: "Rosario";
}
section:nth-child(odd){
  background-color: #f1f1f1;
}
section:nth-child(even){
  text-align: center;
}
h1{
  align-self: center;
  text-align: center;
}
span{
  background :#ee1111;
  margin-top: 20px;
  height: 5px;
  align-self: center;
  display: block;
}
.blockquote{
  align-self: center;
}